image: node:7.2.0

pages:
  cache:
    paths:
    - node_modules/

  script:
  - npm install -g grunt-cli
  - npm install
  - cp -n .env.example .env
  - grunt build
  artifacts:
    paths:
    - public
  only:
    - master

